<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="MsSqlConnLibrary"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=StudentGrades;Trusted_Connection=True;" />
	</connectionStrings>
</configuration>
